* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    height: 100vh;
    background-color: dodgerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 400px;
    width: 300px;
    border-radius: 5px;
    background-color: aliceblue;
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
form{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
form > input{
    width: 100%;
    height: 40px;
    border-radius:5px;
    border-color: aliceblue;
    padding: 15px;
    font-size: 16px;
}
form > button{
    width: 100%;
    height: 40px;
    color: white;
    background-color: dodgerblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
h4{
    font-size: 20px;
}
h5{
    font-size: 14px;
    color:darkslategray;
}
.qrImage{
    background-color: aliceblue;
    width: 100%;
    height: 100%;
    border:1px solid darkslategray;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
}
.qrImage>img{
    width: 100px;
    height: 100px;
}